{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 110,
  "tabWidth": 4,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
